

html{
    font-size: 15px;
}
body{
    margin: 0;
}
h1{
   font-family:Arial, Helvetica, sans-serif;
   color: rgb(0, 0, 0);
   background: papayawhip;
   text-align: center;
   font-weight: bold;
   text-decoration: underline;
   font-size: 45px;
}
button{
    color: black;
    background-color: white;
    font-weight: bold;
    padding: 20px;
    font-size: 2em;
    border-radius: 2em;
    border: 1px solid black;
}
p{
    line-height: 1.5;
    letter-spacing: 2px;
    color: green;
}
/*PX are the most commonly used absolute unit
-not recommended for responsive websites*/
#table{
    color: black;
    background-color: pink;
    border: 1px solid black;
}
.radio{
    color: black;
    background-color: pink;
    border: 1px solid black;
}
#id{
    color: azure;
    background-color: darkblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
}
.class{
    color: blanchedalmond;
    background-color: brown;
    text-align: center;
}
header h2{
    color: darkblue;
    text-transform: uppercase;
}
div h3{
    color: pink;
    background-color: darkblue;
}
button:hover{
    color:blue;
    background-color:pink;
}
button:active{
    transform: scale(1.5);
}
div button:hover{
    color: red;
    background-color: black;
}
div button:active{
    transform:none;
}
.post:nth-of-type(2n){
    background-color: lightgray;
}
.post::first-letter{
    font-size: 25px;
    text-transform: uppercase;
}
.lorem::first-line{
    color: red;
}
.lorem::selection{
    background-color: yellow;
}
/*Specifity: The more specific selector wins. When more than 
one style is applied to the same element, the more specific selector will be applied.
ID>CLASS>ELEMENT--specificity Inline Styles are more specific but not recommended...(!important is most specific)*/
.inherit{
    color: purple;
}.lorem-2{
    color: inherit;
}
.box-model{
border-width: thick;
border-style: solid;
border-color: black;
}
.box{
    width: 200px;
    height: 200px;
    background-color: pink;
    border: 2px solid black;
    border-left-color: black;
    border-right-color: black;
    border-radius: 5% 25%;
    margin: 50px;
}
.padding-box{
    border: 2px solid black;
    padding: 50px;
    text-align: center;
    margin: 50px;
}
.padding{
    padding: 0 25px;
}
#display{
    background-color: brown;
    display: inline-block;
    margin: 10px;
    border: 2px solid black;
}
span{
    background-color: blue;
    color: white;
    display: block;
    border: 2px solid black;
    width: 200px;
    margin: 10px;
}
.percentages{
    height:500px;
    width: 500px;
    background-color: gray;
}
.practice-box{
    height:50%;
    width:50%;
    background-color: pink;
}
#alpha{
    background-color: rgb(33, 122, 201, 0.5);
}
#opacity{
    background-color: rgb(33, 122, 201);
    opacity: 0.5;
}
.position-btn, .transform-btn{
    border-radius: .5em;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 25px;;
}
.circle{
    width: 300px;
    height: 300px;
    background-color: magenta;
    transition: 1s 1s;
}
.circle:hover{
    background-color: pink;
    border-radius: 50%;
}
.transition-section .transition-div{
    height: 100px;
    width:100px;
    background-color: turquoise;
    margin: 10px 0;
    transition: margin-left 4s ease-in-out;
}
.transition-section .transition-div:hover{
    margin-left: 500px;
}
.btn-codealong{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #151b29;
}
.fancy-btn{
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
}
.fancy-btn:hover{
    background: none;
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}